@page
@model Solar.Pages.Ekstern.FormularModel
@{
    ViewData["Title"] = "Solar formular";
}

<form method="post">
    <div class="m-2">
        <label asp-for="@Model.project.CaseName" class="control-label"></label>
        <input asp-for="@Model.project.CaseName" class="form-control" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Address" class="control-label"></label>
        <input asp-for="@Model.project.Address" class="form-control" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Zip" class="control-label"></label>
        <input asp-for="@Model.project.Zip" class="form-control" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.StartDate" class="control-label"></label>
        <input asp-for="@Model.project.StartDate" class="form-control" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Deadline" class="control-label"></label>
        <input asp-for="@Model.project.Deadline" class="form-control" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Followup" class="control-label"></label>
        <input asp-for="@Model.project.Followup" class="form-control" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Installer" class="control-label"></label>
        <input asp-for="@Model.project.Installer" class="form-control" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Department" class="control-label"></label>
        <input asp-for="@Model.project.Department" class="form-control" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Contact" class="control-label"></label>
        <input asp-for="@Model.project.Contact" class="form-control" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.PhoneNumber" class="control-label"></label>
        <input asp-for="@Model.project.PhoneNumber" class="form-control" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Email" class="control-label"></label>
        <input asp-for="@Model.project.Email" class="form-control" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Remarks" class="control-label"></label>
        <input asp-for="@Model.project.Remarks" class="form-control" />
    </div>

    <div class="m-2">
        <select asp-for="@Model.project.Assembly.RoofTypeId" name="TagType">
            @foreach (var roof in Model.Roofs)
            {
                <option value="@roof.Id">@roof.RoofType1</option>
            }
        </select>
    </div>

    <div class="m-2">
        <select asp-for="@Model.project.Assembly.RoofMaterialId" name="TagMatriale">
            @foreach (var roof in Model.RoofMaterials)
            {
                <option value="@roof.Id">@roof.Material</option>
            }
        </select>
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Assembly.EastWestDirection" class="control-label"></label>
        <input type="checkbox" asp-for="@Model.project.Assembly.EastWestDirection" class="p-2" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Assembly.Slope" class="control-label"></label>
        <input asp-for="@Model.project.Assembly.Slope" class="mx-5 px-2" />
        grader
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Assembly.BuildingHeight" class="control-label"></label>
        <input asp-for="@Model.project.Assembly.BuildingHeight" class="mx-5 px-2" />
        Meter
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.Battery.BatteryPrepare" class="control-label"></label>
        <input type="checkbox" asp-for="@Model.project.Battery.BatteryPrepare" class="p-2" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.BatteryRequest.Capacity" class="control-label"></label>
        <input asp-for="@Model.project.BatteryRequest.Capacity" class="mx-5 px-2" />
        Kwp
    </div>

    <div class="m-2 mt-4">
        @foreach (var Dem in Model.Dimensens)
        {
            <input asp-for="@Model.project.DimensioningId" type="radio" value="@Dem.Id" name="Dem-radio">
            @Dem.Description
            @if (Dem.Id == 3)
            {
                <div class="m-2">
                    <label asp-for="@Model.project.DimensioningkWp.KiloWattPeak" class="control-label"></label>
                    <input asp-for="@Model.project.DimensioningkWp.KiloWattPeak" class="mx-5 px-2" />
                    KWh
                </div>
            } <br />
        }
    </div>


    <div class="m-2 mt-4">
        @foreach (var Cats in Model.ConsCats)
        {
            <input asp-for="@Model.project.DimensioningConsumption.CategoryId" type="radio" value="@Cats.Id" name="cats-radio">
            @Cats.Category
        }
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.DimensioningConsumption.CurrentConsumption" class="control-label"></label>
        <input asp-for="@Model.project.DimensioningConsumption.CurrentConsumption" class="mx-5 px-2" />
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.DimensioningConsumption.HeatPump" class="control-label"></label>
        <input type="checkbox" asp-for="@Model.project.DimensioningConsumption.HeatPump" class="p-2" /> ja
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.DimensioningConsumption.HeatPumpIncluded" class="control-label"></label>
        <input type="checkbox" asp-for="@Model.project.DimensioningConsumption.HeatPumpIncluded" class="p-2" /> ja
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.DimensioningConsumption.HouseSize" class="control-label"></label>
        <input asp-for="@Model.project.DimensioningConsumption.HouseSize" class="mx-5 px-2" /> m2
    </div>

    <div class="m-2">
        <label asp-for="@Model.project.DimensioningConsumption.EvKilometer" class="control-label"></label>
        <input asp-for="@Model.project.DimensioningConsumption.EvKilometer" class="mx-5 px-2" /> Km
    </div>


    <div class="">
        <input type="submit" value="Opret bruger" class="btn btn-primary text-light w-50" />
    </div>
</form>